[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=monero
Group=monero
WorkingDirectory=~

Type=forking
PIDFile=/var/run/chutokend.pid

ExecStart=/usr/bin/chutokend --config-file /etc/chutokend.conf \
    --detach --pidfile /var/run/chutokend.pid

[Install]
WantedBy=multi-user.target
